<div id="difficulty-numtxs-chart" style="width:100%; height:400px;"></div>


<div class="container mt-4">
  <h2>Block History Data</h2>
  <div class="table-responsive">
    <table id="blockHistoryTable" class="table table-bordered table-hover">
      <thead class="table-dark">
      <tr>
        <th scope="col">Block Number</th>
        <th scope="col">Difficulty</th>
        <th scope="col">Number of Transactions</th>
        <th scope="col">Block Size (MB)</th>
      </tr>
      </thead>
      <tbody>
      <% @chart_data.each do |data| %>
        <tr>
          <td><%= data[0] %></td>
          <td><%= data[1] %></td>
          <td>
            <%= data[2] %>
            <%= link_to "View Transactions",
                        block_transactions_path(block_number: data[0]),
                        class: "view-transactions-link",
                        id: "view_txs_#{data[0]}",
                        data: {
                          block_number: data[0],
                          turbo_frame: "transactions_frame_#{data[0]}",
                          bs_toggle: "modal",
                          bs_target: "#transactionsModal_#{data[0]}"
                        } %>
          </td>
          <td><%= data[3] %></td>
        </tr>


        <!-- Modal Structure for Each Block -->
        <div class="modal fade" id="transactionsModal_<%= data[0] %>" tabindex="-1" aria-labelledby="transactionsModalLabel_<%= data[0] %>" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="transactionsModalLabel_<%= data[0] %>">Block Transactions - <%= data[0] %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="transactionsModalBody" >
                <%= turbo_frame_tag "transactions_frame_#{data[0]}" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>


      </tbody>
    </table>
  </div>
</div>



<script>
    $(document).on('ready load turbo:frame-load',function() {
        $('.view-transactions-link').on('click', function(event) {
            event.preventDefault();
            console.log("Shit was clicked!");
            console.log($(this));

            var blockNumber = $(this).data('blockNumber');
            var modalId = `#transactionsModal_${blockNumber}`;
            var frameId = `#transactions_frame_${blockNumber}`;

            $.ajax({
                url: `/block_histories/${blockNumber}/transactions`,
                method: 'GET',
                success: function(response) {
                    var content = $(response).find('#transaction-content').html();
                    $(frameId).html(content);
                    $(modalId).modal('show');
                    console.log(response);
                    console.log("HOLY FUCKING SHITBALLS");
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching transactions:', error);
                }
            });
        });
    });

</script>

<script>
    $(document).on('ready turbo:frame-load', function (event) {

        let table = new DataTable('#blockHistoryTable');


        if (event.target.id === 'block_chart') {
            var chartData = <%= @chart_data.to_json.html_safe %>;

            var currentBatch = 0;

            var blockNumber = chartData.map(function (item) {return item[0]});
            var difficultyData = chartData.map(function(item) { return [item[0], item[1]]; });
            var numtxsData = chartData.map(function(item) { return [item[0], item[2]]; });
            var blockSizeData = chartData.map(function(item) { return [item[0], item[3]]; });

            let chart = Highcharts.chart('difficulty-numtxs-chart', {
                chart: {
                    zoomType: 'x',
                    type: 'column' // Default to column, but this will be overridden per series

                },
                title: {
                    text: 'Difficulty vs Number of Txs vs Size'
                },
                xAxis: {
                    type: 'linear', // Changed to linear
                    title: {
                        text: 'Block Number'
                    }
                },
                yAxis: [{
                    title: {
                        text: 'Difficulty'
                    }
                }, {
                    title: {
                        text: 'Number of Txs'
                    },
                    opposite: true
                }, {
                    title: {
                        text: 'Block Size MB'
                    },
                    opposite: true
                }],
                plotOptions: {
                    series: {
                        turboThreshold: 0, // No limit on the number of data points
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    shared: true,
                    formatter: function () {
                        var tooltipText = '<b>Block Number: ' + this.x + '</b><br/>';
                        this.points.forEach(function(point) {
                            tooltipText += point.series.name + ': ' + point.y + '<br/>';
                        });
                        return tooltipText;
                    }
                },
                series: [{
                    type: 'line', // Line chart for Difficulty
                    name: 'Difficulty',
                    data: difficultyData,
                    zIndex: 2
                }, {
                    type: 'line', // Column chart for Number of Txs
                    name: 'Number Txs',
                    yAxis: 1,
                    data: numtxsData,
                    zIndex: 1 // Lower zIndex for Number Txs

                }, {
                    type: 'line', // Column chart for Number of Txs
                    name: 'Blocksize',
                    yAxis: 2,
                    data: blockSizeData,
                    zIndex: 0 // Ensure Difficulty is on top
                }]
                // Rest of the chart configuration
            });

            hideLoadingIndicator();

            function showLoadingIndicator() {
                document.getElementById('loadingIndicator').style.display = 'block';
            }

            function hideLoadingIndicator() {
                document.getElementById('loadingIndicator').style.display = 'none';
            }


            function updateTable(batchData) {
                batchData.forEach(function(item) {
                    var block = item[0].toString();
                    var linkHTML = '<a class="view-transactions-link" id="view_txs_' + block + '" data-block-number="' + block + '" data-turbo-frame="transactions_frame_' + block + '" data-bs-toggle="modal" data-bs-target="#transactionsModal_' + block + '" href="/block_histories/' + block + '/transactions">View Transactions</a>';

                    let newRow = table.row.add([
                        block, // Block Number
                        item[1].toString(), // Difficulty
                        item[2].toString() + linkHTML, // Number of Transactions + Link
                        item[3].toString()  // Block Size (MB)
                    ]).node();
                    $(newRow).addClass('newly-added-row'); // Optional: Add a class to new rows
                });
                table.draw(false); // Redraw the table without resetting the paging
            }


            function updateChart(batchData) {
                batchData.forEach(function(item) {
                    chart.series[0].addPoint([item[0], item[1]], false);
                    console.log(chart.series[0].addPoint([item[0], item[1]], false));
                    chart.series[1].addPoint([item[0], item[2]], false);
                    chart.series[2].addPoint([item[0], item[3]], false);
                });
                chart.redraw();
            }





            function loadBatch() {
                currentBatch++;
                showLoadingIndicator();
                $.ajax({
                    url: '<%= block_histories_path %>',
                    data: {
                        start_block: <%= params[:start_block] %>,
                        end_block: <%= params[:end_block] %>,
                        batch_number: currentBatch
                    },
                    dataType: 'json',
                    success: function(currentBatch) {
                        console.log(currentBatch);
                        updateTable(currentBatch);
                        updateChart(currentBatch);

                        hideLoadingIndicator();


                    },
                    error: function() {
                        hideLoadingIndicator();
                    }
                });
            }

            document.getElementById('loadMore').addEventListener('click', loadBatch);
        }
    });
</script>
