<div id="raw_transaction_details_wrapper">
  <div class="table-responsive" >
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Field</th>
        <th scope="col">Details</th>
      </tr>
      </thead>
      <tbody>
      <% transaction.each_with_index do |(key, value), index| %>
        <% if key == 'vin' %>
          <% value.each_with_index do |item, item_index| %>
            <tr>
              <td>Input <%= item_index + 1 %></td>
              <td><%= render 'transaction_item', item: item %></td>
            </tr>
          <% end %>
        <% elsif key == 'vout' %>
          <% value.each_with_index do |item, item_index| %>
            <tr>
              <td>Output <%= item_index + 1 %></td>
              <td><%= render 'transaction_item', item: item %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td><%= key.humanize %></td>
            <td><%= value.is_a?(Hash) ? value.to_json : value %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
