<div class="container-fluid" id="raw_transaction_details_wrapper">
  <div class="accordion" id="transactionDetailsAccordion">
    <% transaction.each_with_index do |(key, value), index| %>
      <div class="accordion-item">
        <h2 class="accordion-header small-accordion-header" id="heading<%= index %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
            <%= key.humanize %>
          </button>
        </h2>
        <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#transactionDetailsAccordion">
          <div class="accordion-body">
            <% if key == 'vin' %>
              <% value.each_with_index do |item, item_index| %>
                <strong>Input <%= item_index + 1 %>:</strong>
                <%= render 'transaction_item', item: item %>
              <% end %>
            <% elsif key == 'vout' %>
              <% value.each_with_index do |item, item_index| %>
                <strong>Output <%= item_index + 1 %>:</strong>
                <%= render 'transaction_item', item: item %>
              <% end %>
            <% else %>
              <%= value.is_a?(Hash) ? value.to_json : value %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
