<!-- app/views/block_histories/index.html.erb -->
<%= form_with url: block_histories_path, method: :get, data: { turbo_frame: "block_chart" } do %>
  <div>
    <%= label_tag :start_block, 'Start Block' %>
    <%= number_field_tag :start_block, params[:start_block], min: 0 %>
  </div>
  <div>
    <%= label_tag :end_block, 'End Block' %>
    <%= number_field_tag :end_block, params[:end_block], min: 0 %>
  </div>
  <%= submit_tag 'Show Chart' %>
<% end %>

<%= turbo_frame_tag "block_chart" do %>
  <%= render 'chart' %>
<% end %>
