<div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top" id="navigation-sidebar">
  <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
    <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-5"><span class="d-none d-sm-inline">RAILS 7</span></span>
    </a>
    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
      <% if user_signed_in? %>


      <li>
        <a href="#" class="nav-link px-sm-0 px-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
          <i class="fs-5 bi-chat-left-dots-fill"></i><span class="ms-1 d-none d-sm-inline">Chat</span>
        </a>
      </li>
    </ul>
    <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag(current_user.avatar, width: 30, height: 30, class: 'rounded-circle') if current_user.avatar.attached? %>

        <span class="d-none d-sm-inline mx-1"><%= current_user.username %></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

        <li>
          <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
            Profile
          <% end %>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <%= button_to(
                "Log Out",
                destroy_user_session_path,
                method: :delete, class: 'dropdown-item'
              ) %>
        </li>
      <% end %>
      </ul>
    </div>

  </div>
</div>

<% if user_signed_in? %>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render partial: "layouts/new_room_form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel"><%= @single_room.name if @single_room %></h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <%= render "rooms/show" %>
    </div>
  </div>
<% end %>











